<div id="<%= dom_id menu %>">
  <p>
    <strong>Order:</strong>
    <%= menu.order %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= menu.name %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= menu.event_id %>
  </p>

</div>
