<% content_for :title, @heading %>
<h1><%= @heading %></h1>
<ul>
  <table class="index">
  <% @people.each do |person| %>
    <tr> 
      <td>• <%= link_to person.title, person %> </td>
      <% if signed_in? %>
        <td><%= button_to 'Edit', edit_person_path(person), method: :get, class: "btn submit_button" %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
</ul>

<% if signed_in? %>
<%= button_to "New teacher", new_person_path, method: :get, class: "btn submit_button" %>
<% end %>
