<% title_from(@person) %>

<h1><%= @person.name %></h1>

<% if @person.activities.any? %>
  <h2>Classes Taught</h2>
  <ul>
  <% @person.activities.each do |activity| %>
    <li><%= link_to activity.title, [activity.event, activity] %></li>
  <% end %>
  </ul>
<% end %>

<% if @person.bio.present? %>
  <h2>Biography</h2>
  <div class="details">
  <%== Kramdown::Document.new(@person.bio).to_html %>
  </div>
<% end %>
