<div id="<%= dom_id menu_item %>">
  <p>
    <strong>Order:</strong>
    <%= menu_item.order %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= menu_item.name %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= menu_item.event_id %>
  </p>

</div>
