<h1>Activity Schedule for <%= @event.title %></h1>
<ul>
  <% @schedule.entries.order(:start_time).each do |entry| %>
      <li> 
        <%= entry.time_range_display %>: <%= link_to entry.title, [@event, entry.activity] %>: <%= entry.facilitators.map(&:name).join(", ") %>
      </li>
    <% end %>
</ul>

