<% title_from(@page) %>

<%== Kramdown::Document.new(@page.body).to_html %>

<% if signed_in? %>
  <div>
    <%= link_to 'Edit this page', edit_event_page_path(@event,@page) %>
    <%= button_to 'Delete this page', [@event, @page], method: :delete %>
  </div>
<% end %>
