body {
    background-color: #e8dcc6;
}

.navbar-nav {
    --bs-nav-link-color: #bf281d;
    --bs-nav-link-hover-color: #7c0500;
}

.navbar {
    --bs-navbar-active-color: #7c0500;
}

.dropdown-item {
    --bs-dropdown-link-color: #bf281d;
    --bs-dropdown-link-hover-color: #7c0500;
}