@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');
@import "../../node_modules/bootstrap/scss/functions";

$display-font-family: "IM Fell English", serif;
$font-family-base: "EB Garamond", serif;

$red: #bf281d;
$red-500: $red;
$red-600: shade-color($red, 20%);
$red-700: shade-color($red, 40%);
$red-800: shade-color($red, 60%);
$red-900: shade-color($red, 80%);

$body-bg: #fff3de;

$component-active-bg: #337ab7;

// $navbar-padding-y:                  $spacer * .5 !default;
// $navbar-padding-x:                  null !default;

// $navbar-nav-link-padding-x:         .5rem !default;

// $navbar-brand-font-size:            $font-size-lg !default;
// Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link
// $nav-link-height:                   $font-size-base * $line-height-base + $nav-link-padding-y * 2 !default;
// $navbar-brand-height:               $navbar-brand-font-size * $line-height-base !default;
// $navbar-brand-padding-y:            ($nav-link-height - $navbar-brand-height) * .5 !default;
// $navbar-brand-margin-end:           1rem !default;

// $navbar-toggler-padding-y:          .25rem !default;
// $navbar-toggler-padding-x:          .75rem !default;
// $navbar-toggler-font-size:          $font-size-lg !default;
//$navbar-toggler-border-radius: 0;
// $navbar-toggler-focus-width:        $btn-focus-width !default;
// $navbar-toggler-transition:         box-shadow .15s ease-in-out !default;

$navbar-light-color: $red;
$navbar-light-hover-color: $red-700;
$navbar-light-active-color: $red-700;
$navbar-light-disabled-color: $red-700;
//$navbar-light-icon-color:           rgba($body-color, .75) !default;
//$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-icon-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-light-toggler-border-color: rgba($red, .15) !default;
$navbar-light-brand-color: $navbar-light-active-color !default;
$navbar-light-brand-hover-color: $navbar-light-active-color !default;

$dropdown-min-width: 10rem !default;
$dropdown-padding-x: 0 !default;
$dropdown-padding-y: .5rem !default;
$dropdown-spacer: .125rem !default;
//$dropdown-font-size: $font-size-base !default;
//$dropdown-color: var(--#{$prefix}body-color) !default;
//$dropdown-bg: var(--#{$prefix}body-bg) !default;
// $dropdown-border-color: var(--#{$prefix}border-color-translucent) !default;
$dropdown-border-radius: 0;
// $dropdown-border-width: var(--#{$prefix}border-width) !default;
// $dropdown-inner-border-radius: calc(#{$dropdown-border-radius} - #{$dropdown-border-width}) !default; // stylelint-disable-line function-disallowed-list
// $dropdown-divider-bg: $dropdown-border-color !default;
// $dropdown-divider-margin-y: $spacer * .5 !default;
// $dropdown-box-shadow: var(--#{$prefix}box-shadow) !default;

$dropdown-link-color: $red;
$dropdown-link-hover-color: $red-700;
$dropdown-link-hover-bg: $body-bg;

// $dropdown-link-active-color: $component-active-color !default;
// $dropdown-link-active-bg: $component-active-bg !default;

// $dropdown-link-disabled-color: var(--#{$prefix}tertiary-color) !default;

// $dropdown-item-padding-y: $spacer * .25 !default;
// $dropdown-item-padding-x: $spacer !default;

// $dropdown-header-color: $gray-600 !default;
// $dropdown-header-padding-x: $dropdown-item-padding-x !default;
// $dropdown-header-padding-y: $dropdown-padding-y !default;
// // fusv-disable
// $dropdown-header-padding: $dropdown-header-padding-y $dropdown-header-padding-x !default; // Deprecated in v5.2.0
// fusv-enable
// scss-docs-end dropdown-variables

@import "../../node_modules/bootstrap/scss/bootstrap";
// body {
//     background-color: #e8dcc6;
// }

// .navbar-nav {
//     --bs-nav-link-color: #bf281d;
//     --bs-nav-link-hover-color: #7c0500;
// }

// .navbar {
//     --bs-navbar-active-color: #7c0500;
// }

// .dropdown-item,
// .dropdown-item:active {
//     --bs-dropdown-link-color: #bf281d;
//     --bs-dropdown-link-hover-color: #7c0500;
// }

// .dropdown-menu {
//     --bs-body-bg: #e8dcc6;
// }