<ul>
    <% @activities.each do |activity| %>
      <li> 
            <%= link_to activity.title, event_activity_path(activity.event, activity) %> 
            (<%= link_to 'Edit', edit_event_activity_path(activity.event, activity) %>)
            <%= button_to 'Delete', [activity.event, activity], method: :delete, class: "btn btn-danger" %>
            </li>
    <% end %>
</ul>